@import "lib/vars";
@import "lib/reboot";
@import "lib/keyframes";
@import "lib/fontface";

@import "lib/colors";
@import "lib/typo";
@import "lib/utils";

@import "partials/layout";
@import "partials/modals";
@import "partials/btn";


/*
* {
    &:not(a) {
        border: 1px solid cyan;
    }
}
*/

.draggable {
    touch-action: none;
    user-select: none;
}


