.btn {
    width: 250px;
    padding: 5px;
    border-radius: 5px;
    margin: auto;
    font-size: $base * 2.2;
    font-weight: $font_weight_bold;
    text-decoration: $link_decoration;
    color: map-get($themes, color_4);
    text-align: center;

}

.btn_primary {

    background-color: map-get($themes, color_1);
    color: white;
    

    &:hover {
        background-color: map-get($themes, color_3);
        color: white;
    }
    

}

.btn_secondary {
    color: map-get($themes, color_2);
    background-color: map-get($themes, color_4);
    border: 2px solid map-get($themes, color_2);

    &:hover {
        background-color: map-get($themes, color_4);
        border: 2px solid map-get($themes, color_3);
        color: map-get($themes, color_3);
    }

}

.pause_btn {
    width: 200px;
    height: 200px;
}

/*

btn_tertiary {

}
*/
